:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

/* #iframeModal .modal-dialog {
    max-width: 95vw !important;
    width: 90vw !important;
    height: 90vh !important;
}

#iframeModal .modal-dialog .modal-content {
    height: 100% !important;
}

#iframeModal iframe {
    width: 100%;
    height: 100%;
} */